body {
  color: white;
  background-color: black;
  font-family: monospace;
  font-size: 30px;
  margin: 10px;
}

.prev{
  background-color: black;
  border: 2px dotted white;
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px white;
  text-align: center;
  border-radius: 5px;
  position: relative;
  font-size: 22px;
  float: left;
}

.prev:hover {
  background-color: white;
  color: black;
}

.next{
  background-color: black;
  border: 2px dotted white;
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px white;
  text-align: center;
  border-radius: 5px;
  position: relative;
  font-size: 22px;
  float: left;
}

.next:hover {
  background-color: white;
  color: black;
}

.title {
  margin: 100px;
  width: 200px;
  height: 170px;
  text-align: center;
  border: 4px dashed;
  padding: 20px;
  float: right;
  font-size: 50px;

  animation-name: poemtitle;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes poemtitle {
    0% {
      border: 4px;
      border-style: solid;
      border-color: white;
      border-radius: 10px;
      box-shadow: 10px 10px white;
      opacity: 0;
    }

    25% {
      border: 4px;
      border-style: dotted;
      border-color: white;
      border-radius: 20px;
      box-shadow: 10px 10px white;
      font-weight: bold;
      opacity: 2;
    }

    50% {
      border: 4px;
      border-style: solid;
      border-color: white;
      border-radius: 30px;
      box-shadow: 10px 10px white;
      opacity: 6;
    }

    100% {
      border: 4px;
      border-style: dotted;
      border-color: white;
      border-radius: 40px;
      box-shadow: 10px 10px white;
      font-weight: bold;
      opacity: 10;
    }

}

.wandered {
  width: 160px;
  height: 40px;
  padding: 5px;
  border: 1px hidden;
  text-align: center;
  position: relative;

  animation-name: MoveWandered;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}


@keyframes MoveWandered {
  0%  {
    top: 0px;
    left: 100px;
    opacity: 0;
  }

  25% {
    top: -30px;
    left: 200px;
    opacity: .5;
  }

  50% {
    top: 0px;
    left: 300px;
    opacity: 10;
  }

  100% {
    top: -30px;
    left: 400px;
    opacity: 0;
  }

}

.lost {
  width: 160px;
  height: 40px;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px hidden;
  border-color: white;
  text-align: center;
  position: relative;

  animation-name: MoveLost;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

@keyframes MoveLost {
  0%  {
    top: 5px;
    left: 200px;
    opacity: .3;
  }

  25% {
    top: 5px;
    left: 400px;
    opacity: 0;
  }

  50% {
    top: 5px;
    left: 600px;
    opacity: .3;
  }

  100% {
    top: 5px;
    left: 800px;
    opacity: 0;
  }

}

.follow1 {
  width: 160px;
  height: 40px;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px hidden;
  border-color: white;
  position: relative;

  animation-name: MoveFollow;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: infinite;


}

@keyframes MoveFollow {
  0%  {
    top: 5px;
    left: 0px;
  }

  25% {
    top: 5px;
    left: 150px;
  }

  50% {
    top: 5px;
    left: 250px;
  }

  100% {
    top: 5px;
    left: 400px;
  }

}

.you {
  width: 160px;
  height: 40px;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px hidden;
  border-color: white;
  position: relative;

  animation-name: MoveYou;
  animation-duration: 6s;
  animation-iteration-count: infinite;

}

@keyframes MoveYou {
  0%  {
    top: 0px;
    left: 0px;
  }

  25% {
    top: 0px;
    left: 300px;
  }

  50% {
    top: 0px;
    left: 400px;
  }

  100% {
    top: 0px;
    left: 500px;
  }

}

.sucked {
  border: 2px hidden;
  line-height: 80px;
  width: 700px;

  animation-name: MoveSucked;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes MoveSucked {
  50% {
    line-height: 10px;
  }
}

.pulled {
  height: 200px;
  width: 800px;

  animation-name: MovePulled;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes MovePulled {
  0% {
    opacity: 10;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    width: 200px;
    opacity: 0;
  }
}

.littlecloud1 {
  background-color: white;
  color: black;
  width: 450px;
  position: relative;
  top: -10px;
  text-align: center;
  border: solid;
  float: right;

  animation-name: MoveLittleCloud1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes MoveLittleCloud1 {
  0% {
    border-radius: 50px;
    border: dotted;
  }

  25% {
    border: solid;
  }

  50% {
    border-radius: 50px;
    border: dotted;
  }

  100% {
    border: solid;
  }
}

.blackcloud {
  color: black;
  width: 450px;
  position: relative;
  top: -10px;
  text-align: center;
  float: right;

  animation-name: MoveBlackCloud;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes MoveBlackCloud {
  0% {
    opacity: 0;
    background-color: white;
  }

  25% {
    opacity: .5;
    background-color: white;
  }

  50% {
    opacity: 1;
    background-color: white;
  }

  100% {
    opacity: 0;
    background-color: white;
  }
}
