body {
    background-color: black;
    color: white;
    font-family: 'Caudex', serif;
    padding: 20px;
}

.title {
    font-size: 90px;
}

.links {
    color: white;
    font-size: 30px;
    padding-top: 10px;
}

a:hover {
    font-style: italic;
}

a:visited {
    color: white;
}