body {
    color: white;
    background: black;
    font-family: courier;
}

.prev{
  background-color: black;
  border: 2px dotted white;
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px white;
  text-align: center;
  border-radius: 5px;
  position: relative;
  font-size: 22px;
  float: left;
}

.prev:hover {
  background-color: white;
  color: black;
}

.next{
  background-color: black;
  border: 2px dotted white;
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px white;
  text-align: center;
  border-radius: 5px;
  position: relative;
  font-size: 22px;
  float: left;
}

.next:hover {
  background-color: white;
  color: black;
}

div {
    border: .5px;
    margin: 5px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    color: black;
}

.one{
    border-style: solid;
    width: 350px;
    height: 350px;
}

.two{
    border-style: dotted;
    width: 350px;
    height: 120px;
}

.three{
    border-style: solid;
    width: 350px;
    height: 365px;
}

.four{
    border-style: dotted;
    width: 350px;
    height: 95px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.five{
    border-style: solid;
    width: 350px;
    height: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.six{
    border-style: dotted;
    width: 350px;
    height: 110px;
    padding-bottom: 10px;
    padding-top: 10px;
    float: clear;
}

.seven{
    border-style: solid;
    width: 350px;
    height: 90px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.byline {
    border-style: dotted;
    border-color: white;
    background-color: black;
    color: white;
    text-align: center;
    width: 350px;
    height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
