body {

    margin: 10px;
    padding: 0;
    background-color: black;
    color: white;
    font-family: fantasy;
    font-size: 15px;
}

.title {
  border-style: dashed;
}

.prev{
  background-color: black;
  border: 2px dotted white;
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px white;
  text-align: center;
  border-radius: 5px;
  position: relative;
  font-size: 22px;
  float: left;
}

.prev:hover {
  background-color: white;
  color: black;
}

.next{
  background-color: black;
  border: 2px dotted white;
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px white;
  text-align: center;
  border-radius: 5px;
  position: relative;
  font-size: 22px;
  float: left;
}

.next:hover {
  background-color: white;
  color: black;
}

div {
    border: 2px dotted;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: black;
    border-color: white;
}

.three {
  border: 2px solid;
}
