body {
    background-color: black;
    color: white;
    font-family: fantasy;
    font-size: 16px;
}

.prev{
  background-color: black;
  border: 2px dotted white;
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px white;
  text-align: center;
  border-radius: 5px;
  position: relative;
  font-size: 22px;
  float: left;
}

.prev:hover {
  background-color: white;
  color: black;
}

.next{
  background-color: black;
  border: 2px dotted white;
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px white;
  text-align: center;
  border-radius: 5px;
  position: relative;
  font-size: 22px;
  float: left;
}

.next:hover {
  background-color: white;
  color: black;
}

a {
  color: white;
}
a:hover {
  color: white;
}

div {
    border: 2px;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}

.one{
    border-style: dashed;
    width: 200px;
    height: 180px;
}

.two{
    border-style: dashed;
    width: 200px;
    height: 180px;
}

.three{
    border-style: solid;
    width: 505px;
    height: 650px;
}

.four{
    border-style: dotted;
    width: 210px;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: clear;
}

.five{
    border-style: dotted;
    width: 210px;
    height: 120px;
    padding-bottom: 10px;
    padding-top: 10px;
    float: clear;
}

.six{
    border-style: dotted;
    width: 210px;
    height: 140px;
    padding-bottom: 10px;
    padding-top: 10px;
    float: clear;
}

.seven{
    border-style: dotted;
    width: 210px;
    height: 110px;
    padding-bottom: 10px;
    padding-top: 10px;
    float: clear;
}
