body {
    background: black;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.prev{
  background-color: black;
  border: 2px dotted white;
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px white;
  text-align: center;
  border-radius: 5px;
  position: relative;
  font-size: 22px;
  float: left;
}

.prev:hover {
  background-color: white;
  color: black;
}

.next{
  background-color: black;
  border: 2px dotted white;
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px white;
  text-align: center;
  border-radius: 5px;
  position: relative;
  font-size: 22px;
  float: left;
}

.next:hover {
  background-color: white;
  color: black;
}

div {
    border: 2px;
    margin: 5px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: black;
}

.one{
    border-style: dashed;
}

.two{
    border-style: dotted;
}

.three{
    border-style: solid;
}

.four{
    border-style: dashed;
}

.five{
    border-style: dotted;
}

.six{
    border-style: solid;
}

.seven{
    border-style: dashed;
}

.byline{
    border-style: double;
}
