@font-face {
    font-family: 'Grow_A';
    src: url(Fonts/Grow_A.woff) format('woff');
}

body {
  background: #111111;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
}

.word {
  /* color: #ffffff; */
  font-family: 'Grow_A';
  font-size: 280px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
}

#self {
  top: -12px;
  animation: first 2s infinite ease-in-out alternate;
}

#loss {
  top: 30px;
  animation: second 2s infinite ease-in-out alternate;
}

#hope {
  top: 180px;
  margin-left: -20px;
  animation: first 2s infinite ease-in-out alternate;
}

#lost {
  top: 150px;
  animation: second 2s infinite ease-in-out alternate;
}

#luck {
  animation: first 2s infinite ease-in-out alternate;
}

#here {
  top: 35px;
  margin-left: -50px;
  animation: second 2s infinite ease-in-out alternate;
}

#haze {
  top: 10px;
  margin-left: -10px;
  animation: first 2s infinite ease-in-out alternate;
}

#flux {
  top: 30px;
  animation: second 2s infinite ease-in-out alternate;
}

#even {
  top: 30px;
  margin-left: 10px;
  animation: first 2s infinite ease-in-out alternate;
}

#solo {
  top: -10px;
  animation: second 2s infinite ease-in-out alternate;
}

#rose {
  top: -40px;
  margin-left: -10px;
  animation: first 2s infinite ease-in-out alternate;
}

#echo {
  margin-left: -5px;
  animation: second 2s infinite ease-in-out alternate;
}

#iris {
  top: -25px;
  animation: first 2s infinite ease-in-out alternate;
}

#best {
  top: -25px;
  animation: second 2s infinite ease-in-out alternate;
}

@keyframes first {

  0% {
    color: #c5c5c5;
    opacity: 10;
    text-shadow: 0px 0px 8px #c5c5c5;
    z-index: 1;
  }

  50% {
    color: #f1f1f1;
    opacity: 1;
    text-shadow: 0px 0px 8px #f1f1f1;
    z-index: 2;
  }

  100% {
    color: #c5c5c5;
    opacity: 10;
    text-shadow: 0px 0px 8px #c5c5c5;
    z-index: 1;
  }

}

@keyframes second {

  0% {
    color: #f1f1f1;
    opacity: 10;
    text-shadow: 0px 0px 8px #f1f1f1;
    z-index: 2;
  }

  50% {
    color: #c5c5c5;
    opacity: 1;
    text-shadow: 0px 0px 8px #c5c5c5;
    z-index: 1;
  }

  100% {
    color: #f1f1f1;
    opacity: 10;
    text-shadow: 0px 0px 8px #f1f1f1;
    z-index: 2;
  }
}

@media screen and (max-width: 375px) {

  body {
    background: #111111;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
  }

  .word {
    color: #ffffff;
    font-family: 'Grow_A';
    font-size: 330px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  #self {
    top: -12px;
    animation: first 2s infinite ease-in-out alternate;
  }

  #loss {
    top: 30px;
    animation: second 2s infinite ease-in-out alternate;
  }

  #hope {
    top: 180px;
    margin-left: -20px;
    animation: first 2s infinite ease-in-out alternate;
  }

  #lost {
    top: 150px;
    animation: second 2s infinite ease-in-out alternate;
  }

  #luck {
    animation: first 2s infinite ease-in-out alternate;
  }

  #here {
    top: 35px;
    margin-left: -50px;
    animation: second 2s infinite ease-in-out alternate;
  }

  #haze {
    top: 10px;
    margin-left: -10px;
    animation: first 2s infinite ease-in-out alternate;
  }

  #flux {
    top: 30px;
    animation: second 2s infinite ease-in-out alternate;
  }

  #even {
    top: 30px;
    margin-left: 10px;
    animation: first 2s infinite ease-in-out alternate;
  }

  #solo {
    top: -10px;
    animation: second 2s infinite ease-in-out alternate;
  }

  #rose {
    top: -40px;
    margin-left: -10px;
    animation: first 2s infinite ease-in-out alternate;
  }

  #echo {
    margin-left: -5px;
    animation: second 2s infinite ease-in-out alternate;
  }

  #iris {
    top: -25px;
    animation: first 2s infinite ease-in-out alternate;
  }

  #best {
    top: -25px;
    animation: second 2s infinite ease-in-out alternate;
  }

  @keyframes first {

    0% {
      color: #474747;
      opacity: 1;
      text-shadow: 0px 0px 8px #727171;
      z-index: 1;
    }

    50% {
      color: #f1f1f1;
      opacity: 10;
      text-shadow: 0px 0px 8px #e2e2e2;
      z-index: 2;
    }

    100% {
      color: #474747;
      opacity: 1;
      text-shadow: 0px 0px 8px #727171;
      z-index: 1;
    }

  }

  @keyframes second {

    0% {
      color: #f1f1f1;
      opacity: 10;
      text-shadow: 0px 0px 8px #e2e2e2;
      z-index: 2;
    }

    50% {
      color: #474747;
      opacity: 1;
      text-shadow: 0px 0px 8px #727171;
      z-index: 1;
    }

    100% {
      color: #f1f1f1;
      opacity: 10;
      text-shadow: 0px 0px 8px #e2e2e2;
      z-index: 2;
    }

  }
}
