@font-face {
    font-family: 'Grow_A';
    src: url(Fonts/Grow_A.woff) format('woff');
}

body {
  background-color: #111111;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.word {
  color: #ffffff;
  font-family: 'Grow_A';
  font-size: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: infinite linear;
  mix-blend-mode: normal;
  visibility: visible;
  letter-spacing: 1px;
  user-select: none;
}

.buttonBlend {
  background-color: #111111;
  box-shadow: 0px 0px 10px #a3a2a2;
  position: fixed;
  width: 20px;
  height: 20px;
  bottom: 125px;
  left: 50%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
}

.buttonCMYK {
  background-color: magenta;
  box-shadow: 0px 0px 10px yellow;
  position: fixed;
  width: 20px;
  height: 20px;
  bottom: 125px;
  left: 50%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
}

.buttonCMYKBlend {
  background-color: cyan;
  box-shadow: 0px 0px 10px magenta;
  position: fixed;
  width: 20px;
  height: 20px;
  bottom: 125px;
  left: 50%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}

.buttonNormal {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #a3a2a2;
  position: fixed;
  width: 20px;
  height: 20px;
  bottom: 125px;
  left: 50%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.allWords {
  color: #f1f1f1;
  font-family: 'Grow_A';
  font-size: 25px;
  text-align: justify;
  line-height: 26px;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  word-spacing: -2px;
}

.allWordsPhone {
  color: #111111;
  font-family: 'Grow_A';
  text-align: justify;
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  word-spacing: -1px;
}

#self {
  z-index: 2;
}

#loss {
  z-index: -1;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


@media screen and (max-width: 375px) {

  body {
    background: #111111;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .word {
    font-size: 240px;
    transform: rotate(90deg);
    top: 252px;
    left: -97px;
    letter-spacing: -1px;
    position: fixed;
  }

  .buttonBlend {
    margin-left: 140px;
    top: 50%;
    position: fixed;
  }

  .buttonCMYK {
    margin-left: 140px;
    top: 50%;
    position: fixed;
  }

  .buttonCMYKBlend {
    margin-left: 140px;
    top: 50%;
    position: fixed;
  }

  .buttonNormal {
    margin-left: 140px;
    top: 50%;
    position: fixed;
  }

  .allWords {
    display: none;
  }

  .allWordsPhone {
    font-size: 16px;
    line-height: 20px;
    color: #f1f1f1;
  }

}
