@font-face {
    font-family: 'Grow_A';
    src: url(Fonts/Grow_A.woff) format('woff');
}

/* @font-face {
  font-family: 'Grow_ABC';
  src: url(Fonts/Grow_ABC.woff) format('woff');
} */

body {
  background: #111111;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: 'Grow_A';
}

.word1a {
  
}

.word2a {
  
  z-index: 2;
}

.word3a {
  
}

.word4a {
  
  z-index: 2;
}

@media screen and (max-width: 378px) {
	body {
    margin-top: -40px;
    margin-left: -5px;
    margin-right: 5px;
    font-size: 330px;
    text-align: center;
    line-height: 230px;
  }

  .container {
      position: relative;
  }

  .containerFixed {
    position: fixed;
    top: -10px;
    left:50%;
    transform:translateX(-50%);
    z-index: 2;
    
}

  .word1a {
    position: relative;
    /* top: -10px; */
    left:50%;
    transform:translateX(-50%);

    animation: firstWord 3s infinite ease-in;
  }

  .word2a {
    position: relative;
    /* top: -10px; */
    left: 50%;
    transform:translateX(-50%);

    animation: secondWord 3s infinite ease-in-out;
    animation-delay: 1s;
  }

  .word3a {
    position: relative;
    left: 50%;
    transform:translateX(-50%);

    animation: thirdWord 3s infinite ease-in;
  }

  .word4a {
    position: relative;
    top: -10px;
    left: 50%;
    transform:translateX(-50%);

    animation: fourthWord 3s infinite ease-in-out;
    animation-delay: 1s;
  }
  
}

@keyframes firstWord {
  
  0% {
    color: #727171;
    opacity: 3;
    text-shadow: 0px 0px 8px #727171;
  }

  50% {
    color: #2d2d2d;
    opacity: 1;
  }

  75% {
    color: #d8d8d8;
    opacity: 10;
    text-shadow: 0px 0px 8px #d8d8d8;
  }

  100% {
    color: #ffffff;
    opacity: 10;
    text-shadow: 0px 0px 8px #ffffff;
  }

}

@keyframes secondWord {
  
  0% {
    color: #727171;
    opacity: 3;
    text-shadow: 0px 0px 8px #727171;
  }

  50% {
    color: #2d2d2d;
    opacity: 1;
  }

  75% {
    color: #d8d8d8;
    opacity: 10;
    text-shadow: 0px 0px 8px #d8d8d8;
  }

  100% {
    color: #ffffff;
    opacity: 10;
    text-shadow: 0px 0px 8px #ffffff;
  }

}


@keyframes thirdWord {

  100% {
    color: #2d2d2d;
    opacity: 1;
  }
  
  75% {
    color: #727171;
    opacity: 3;
    text-shadow: 0px 0px 8px #727171;
  }

  50% {
    color: #d8d8d8;
    opacity: 10;
    text-shadow: 0px 0px 8px #d8d8d8;
  }

  0% {
    color: #ffffff;
    opacity: 10;
    text-shadow: 0px 0px 8px #ffffff;
  }

}

@keyframes fourthWord {

  75% {
    color: #2d2d2d;
    opacity: 1;
  }
  
  0% {
    color: #727171;
    opacity: 3;
    text-shadow: 0px 0px 8px #727171;
  }

  50% {
    color: #d8d8d8;
    opacity: 10;
    text-shadow: 0px 0px 8px #d8d8d8;
  }

  100% {
    color: #ffffff;
    opacity: 10;
    text-shadow: 0px 0px 8px #ffffff;
  }

}




