body {
    margin: 0;
    padding: 0;
    font-family: 'Nova Flat', cursive;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    background-color: #56657c;
    background-image: url(Images/subway.jpg);
    background-blend-mode: screen;
    background-repeat: repeat;
    color: white;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #677891;
}

a:hover {
    color: beige;
    transition: .3s all linear;
}

.bar {
    background-color: #4c5a70;
    position: fixed;
    width: 100%;
    height: 95px;
    box-shadow: 2px 2px 10px #424f63;
    z-index: 100;
}

.buttonHome {
    width: 60px;
    height: 35px;
    background: #424f63;
    position: fixed;
    text-align: center;
    top: 30px;
    left: 1430px;
    font-size: 14px;
    color: #677891;
    padding: 8px;
    z-index: 100;
    font-family: 'Nova Flat', cursive;
}
.buttonHome:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 15px solid #424f63;
    z-index: 100;
}
.buttonHome:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #424f63;
    z-index: 100;
}

.buttonCards {
    width: 60px;
    height: 35px;
    background: #424f63;
    position: fixed;
    text-align: center;
    top: 30px;
    left: 1510px;
    font-size: 14px;
    color: #677891;
    padding: 8px;
    z-index: 100;
    font-family: 'Nova Flat', cursive;
}
.buttonCards:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 15px solid #424f63;
    z-index: 100;
}
.buttonCards:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #424f63;
    z-index: 100;
}

.buttonLink {
    width: 60px;
    height: 35px;
    background: #424f63;
    position: fixed;
    text-align: center;
    top: 30px;
    left: 1590px;
    font-size: 14px;
    color: #677891;
    padding: 8px;
    z-index: 100;
    font-family: 'Nova Flat', cursive;
}
.buttonLink:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 15px solid #424f63;
    z-index: 100;
}
.buttonLink:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #424f63;
    z-index: 100;
}

.title {
    position: fixed;
    font-family: 'Nova Flat', cursive;
    font-size: 65px;
    letter-spacing: 3px;
    color: beige;
    padding-top: 8px;
    left: 22px;
    z-index: 100;
    width: 100%;
}

img {
    filter: grayscale(100%);
    margin: 10px;
    text-align: center;
}

img:hover {
    filter: none;
}

.imgs img {
    width: 350px;
}

.imgs {
    position:absolute;
    top: 150px;
    left:50%;
    transform:translateX(-50%);
    animation-name: images;
    animation-duration: 2s;
}

@keyframes images {
    0% {
        left: -400px;
    }
  
    100% {
        left:50%;
        transform:translateX(-50%);
    }
  }


p {
    text-align: center;
    font-family: 'Nova Flat', cursive;
    color: #424f63;
    font-size: 30px;
}

@media screen and (max-width: 1490px) {
    
    .title {
        font-size: 60px;
    }

    .imgs img {
        width: 300px;
    }
}

@media screen and (max-width: 1290px) {
    
    .imgs img {
        width: 280px;
    }
}

@media screen and (max-width: 1260px) {
    
    .imgs img {
        width: 280px;
    }
}

@media screen and (max-width: 1240px) {
    
    .title {
        font-size: 60px;
    }

    .imgs img {
        width: 250px;
    }
}

@media screen and (max-width: 1095px) {
    
    .imgs img {
        width: 230px;
    }
}

@media screen and (max-width: 1005px) {
    
    .title {
        font-size: 55px;
    }

    .imgs img {
        width: 220px;
    }
}

@media screen and (max-width: 990px) {
    
    .imgs img {
        width: 200px;
    }
}

@media screen and (max-width: 950px) {
    
    .title {
        position: fixed;
        font-family: 'Nova Flat', cursive;
        font-size: 40px;
        letter-spacing: 3px;
        color: beige;
        padding-top: 25px;
        left: 22px;
        z-index: 100;
        width: 100%;
    }
}

@media screen and (max-width: 885px) {
    
    .imgs img {
        width: 190px;
    }
}

@media screen and (max-width: 706px) {
    
    .title {
        font-size: 30px;
    }
}

@media screen and (max-width: 530px) {
    
    .title {
        font-size: 25px;
    }
}

@media screen and (max-width: 450px) {
    
    .title {
        font-size: 20px;
    }

    .imgs img {
        width: 280px;
    }
}