
div {
    border: 2px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}

.one{
    border-style: dashed;
    width: 200px;
    height: 140px;
}

.two{
    border-style: dashed;
    width: 200px;
    height: 140px;
}

.three{
    border-style: solid;
    width: 505px;
    height: 530px;
}

.four{
    border-style: dotted;
    width: 210px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: clear;
}

.five{
    border-style: dotted;
    width: 210px;
    height: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    float: clear;
}

.six{
    border-style: dotted;
    width: 210px;
    height: 120px;
    padding-bottom: 10px;
    padding-top: 10px;
    float: clear;
}

.seven{
    border-style: dotted;
    width: 210px;
    height: 90px;
    padding-bottom: 10px;
    padding-top: 10px;
    float: clear;
}

.prev{
  background-color: white;
  border: 2px dotted black;
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px black;
  text-align: center;
  border-radius: 5px;
  font-size: 22px;
  margin: 5px;
  float: right;
  position: relative;
  top: -45px;

}

.prev:hover {
  background-color: black;
  color: white;
}

.next{
  background-color: white;
  border: 2px dotted black;
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px black;
  text-align: center;
  border-radius: 5px;
  font-size: 22px;
  margin: 5px;
  float: right;
  position: relative;
  top: -45px;

}

.next:hover {
  background-color: black;
  color: white;
}

a {
  color: white;
}
a:hover {
  color: white;
}
