div {
    border: .5px;
    margin: 5px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.one{
    border-style: solid;
    width: 330px;
    height: 350px;
}

.two{
    border-style: dotted;
    width: 330px;
    height: 120px;
}

.three{
    border-style: solid;
    width: 330px;
    height: 365px;
}

.four{
    border-style: dotted;
    width: 330px;
    height: 95px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.five{
    border-style: solid;
    width: 330px;
    height: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.six{
    border-style: dotted;
    width: 330px;
    height: 110px;
    padding-bottom: 10px;
    padding-top: 10px;
    float: clear;
}

.seven{
    border-style: solid;
    width: 330px;
    height: 90px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.prev{
  background-color: white;
  border: 2px dotted black;
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px black;
  text-align: center;
  border-radius: 5px;
  font-size: 22px;
  margin: 5px;
  float: right;
  position: relative;
  top: -45px;

}

.prev:hover {
  background-color: black;
  color: white;
}

.next{
  background-color: white;
  border: 2px dotted black;
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px black;
  text-align: center;
  border-radius: 5px;
  font-size: 22px;
  margin: 5px;
  float: right;
  position: relative;
  top: -45px;

}

.next:hover {
  background-color: black;
  color: white;
}

a {
  color: white;
}
a:hover {
  color: white;
}
