body {
    margin: 0;
    padding: 0;
    font-family: 'Prata', serif;
    font-family: 'Krub', sans-serif;
}

h1 {
    font-family: 'Prata', serif;
    letter-spacing: 5px;
    text-align: center;
    color: #DDA85B
}

.bigpics {
    width: 900px;
}

.pic1 {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
   
}

.pic2 {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top: 1000px;
    padding-bottom: 50px;
  
}

.pic3 {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top: 1680px;
    padding-bottom: 50px;
    float: left;
    width: 910px;
    text-align: center;
}

.portrait1 {
    width: 448px;
}

.portrait2 {
    width: 448px;
}

p {
    width: 900px;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top: 780px;
}

a {
    color: #d9bcba;
    text-decoration: none;
}

a:hover {
    color: #DDA85B;
}

span {
    color: #DDA85B
}