body {
  font-family: futura;
  text-align: center;
  color: black;
  background-color: black;
  margin: auto;
}

.Header {
  border: 2px dotted white;
  border-radius: 50px;
  width: 600px;
  margin: auto;

  animation-name: HeaderGlow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes HeaderGlow {
  0% {
    border: 2px dotted black;
    background-color: white;
    color: black;
    opacity: .5;
    box-shadow: 5px 5px grey;
  }

  25% {
    border: 2px dotted white;
    background-color: black;
    opacity: 1;
    box-shadow: 5px 5px white;
  }

  50% {
    border: 2px dotted black;
    background-color: white;
    color: black;
    opacity: 10;
    box-shadow: 5px 5px grey;
  }

  100% {
    border: 2px dotted white;
    background-color: black;
    opacity: 0;
    box-shadow: 5px 5px white;
  }
}

a {
  color: black;
}
a:hover {
  color: grey;
  font-style: italic;
}

div:hover{
  background-color: white;
}

.Level1 {
  border: 2px dotted white;
  width: 200px;
  height: 200px;
  margin: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px white;
}

.Level2 {
  border: 2px dotted white;
  width: 200px;
  height: 200px;
  margin: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px white;
}

.Level3 {
  border: 2px dotted white;
  width: 200px;
  height: 200px;
  margin: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px white;
}

.Level4 {
  border: 2px dotted white;
  width: 200px;
  height: 200px;
  margin: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px white;
}

.Level5 {
  border: 2px dotted white;
  width: 200px;
  height: 200px;
  margin: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px white;
}
